html, body {
  height: 100%;
}

html {
  padding-top:3.4em;
}


/* ********************** */
/* Layout
/* ********************** */

/* style for header area */
header {
  position: fixed;
  z-index:100;
  top:0;
  padding: 0.5em 1em;
  width: 100%;
  height:3.4em;
  background:white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  display:table;
}

header > * {
  display:table-cell;
  vertical-align:middle;
}

header > *:empty {
  display: none;
}

header > * ~ * {
  padding-left:1em;
}

header a[href] {
  border:none;
}

header nav a[href="#quotation"] {
  color:rgb(221,221,221);
}

header .logo a {
  display:block;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

header .logo img {
  display:block;
  width:270px;
  height:22px;
}

/* beta */
header .logo sup {
  position: absolute;
  top: 8px;
  left: 2px;
  font-size: 60%;
}

header .breadcrumbs {
  line-height: 1em;
}

header .breadcrumbs span:empty {
  display: none;
}

header .breadcrumbs span {
  padding-left:0.5em;
  padding-right:0.5em;
}

header .breadcrumbs a {
  text-decoration:none;
  margin:0 5px;
}

header .breadcrumbs a:hover {
  color: #de7e00; /* darker than the main accent color, but that would have been too light */
}

header .breadcrumbs a:first-child {
  font-weight:bold;
}

header #current {
  padding-left:0.5em;
  font-size: 1.66em;
  font-weight: normal; /* 500; */
  border-left: 1px solid #CCC;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* style for main area */
main {
}

body[class^="genesis_bargraph"] main {
  margin-bottom:2.75em;
}

section {
    padding:0 1em;
}

section > *:first-child {
  margin:1em 0;
}

.center {
    max-width: 995px;
    margin: 0px auto;
    padding:0 1em;
}

/* style for footer area */
footer {
  padding:1em 0;
  font-size:0.75em;
}

footer a[href] {
  margin:0 .5em;
  text-decoration: none;
  border:none;
}

footer img[align="middle"] {
  margin-top:-0.75em;
}

body[class^="archive"] footer,
body[class^="text"] footer,
body[class^="document"] footer,
body[class^="genesis"] footer {
  display:none;
}

/* ********************** */
/* Elements
/* ********************** */


/* navigation bar (document viewer & bargraph) */
.navigation-bar-container {
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 2.75em;
  overflow: hidden;
  background:white;
}
.navigation-bar-content {
  display: inline-block;
  padding: 0.25em 0.5em;
  width: 100%;
  overflow: auto;
  text-align: center;
}
.navigation-bar-content .pure-button {
  min-width:2.5em;
  padding: 0.5em 0.8em;
}

.navigation-bar-content .button-active {
  background-color: #F9CB9C;
}
.navigation-bar-content .navigation-button:hover {
  background-color: #F9CB9C;
}
.navigation-bar-content .facsimile {
  display: none;
  position: absolute;
  top: 0.25em;
  left: 0.5em;
}
.navigation-bar-content .page,
.navigation-bar-content .page div {
  display: inline-block;
}
.navigation-bar-content .page .pure-form input {
  padding-top:0.35em;
  padding-bottom:0.35em;
}
.navigation-bar-content .view {
  position: absolute;
  top: 0.25em;
  right: 0.5em;
}

/* search */
.searchform .sort > * {
  margin:0 0.5em;
}
.searchlist {
  padding:0;
  margin-bottom:4em;
}
.searchlist ol {
  padding:0;
  list-style:none;
  font-size:14px;
}
.searchlist ol li {
  margin:1.5em 0;
}
.searchlist ol li h3 {
  margin-bottom:0.5em;
}
.searchlist ol li .meta {
  color:grey;
  display:block;
}
.searchlist ol li .print {
  display:block;
  width:auto;
  margin:0.125em 0;
  word-spacing:normal;
  letter-spacing:normal;
}


/* *********************** */
/* External Links          */
/* *********************** */
a[href^="//"]:after, a[href^="https://"]:after, a[href^="http://"]:after {
  content: "\e832"; /* .fa-link-ext */
  font-family: FontAwesome;
  color: rgb(175,175,175);
  margin-left: 3px;
}
a[href^="http://beta.faustedition.net/"]:after, a.undecorated:after {
  display:none;
}
a.undecorated {
  border:none;
}


/* ********************** */
/* Print
/* ********************** */
@media print {
  html, body {
    padding:0;
    min-height:auto;
  }

  header {
    position:relative;
    border-bottom:1px solid grey;
    box-shadow: none;
    height:auto;
  }

  header #current {
    text-align:right;
    border:none;
  }

  [class*="pure-g"], [class*="pure-u"] {
    display:initial; /* FIXME: hotfix - leads to cutt-offs on long texts in FF */
    max-width: none;
  }
}

/* Something centered and not taking space in the background – e.g., the loading spinner */
.background-container {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 45%;
  text-align: center;
}

.error-container dl {
  font-size: smaller;
}
.error-container pre {
  font-size: smaller;
}


#link-to-top {
  display: none;
  border-bottom: none;
  transition: all 0.5s ease-out;
  text-decoration: none;
  position: fixed;
  bottom: 2.5ex;
  right: 2.5ex;
  z-order: 50;
  color: rgba(250,190,0,0.75);
  text-shadow: 4px 4px 4px #ddd;
}


.delete td { background-color: #fee; }
.ignore td { color: #ddd; }

/* -- search -- */

.pure-button[data-badge] { position: relative; }
.pure-button[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-7px;
  right:-2px;
  font-size: 12px;
  background: rgb(192,0,0);
  color: whitesmoke;
  font-weight: bold;
  padding: 2px;
  border: 1.5px solid rgba(192,0,0,0.9);
  margin: 2px;
  border-radius: 50%;
  min-width: 1.5em;
  box-shadow: 2px 2px 2px black;
}


/*
 * Normale <dl> sieht schön aus, nimmt aber zuviel platz weg.
 * horizontale <dl> sieht doof aus.
 *
 * Das folgende ist ein Hack, kriegen wir das irgendwie besser hin?
 */

.metadata-container dt {
  display: inline;
}
.metadata-container dt:after {
  content: " ";
}
.metadata-container dd {
  display: inline;
  margin-left: 0;
}
.metadata-container dd:after {
  display: block;
  content: '\A';
  margin-bottom: 0.5ex;
}
.metadata-container dd > dl {
  display: block;
  margin-left: 2em;
  margin-top: 0;
}
.md-note { line-height: normal; }
.md-level {
  margin-left: 2em;
  margin-top: 0;
}
.md-level > h3 {
  margin-left: -2em;
  margin-bottom: 0;
}


/* :) */
.wip {
  color: #111;
  background: url(/img/wip-bg.svg) no-repeat top right;
  background-size: contain;
}
cite {
  margin-right: 0.1em; /* Kursivausgleich */
}
.bib-list cite {
  font-style: normal;
  margin-right: 0;
}


.hit .headnote { font-weight: lighter; margin-left: 1em;}
.hit h3 { margin-bottom: 3pt; vertical-align: middle; }
.hit h3 a { font-weight: normal; }
.hit .sigil { padding-right: 5px; border-right: 1px solid gray; }
.hit .search-breadcrumbs { color: gray; vertical-align: middle; }
.hit .search-breadcrumbs span { margin: 0 5px; }
.score {margin-left: 5px; padding-left: 5px; color: #ddd; visibility: hidden; }
h3:hover .score { visibility: visible; }
.subhit a.lineno { display: inline-block; text-decoration: underline; border-bottom: none; width: 5em; padding-right: 0.5em; text-align: right}
.subhit { width: 100%; display: flex; }
.subhit-content { width: 75%; }
.subhit ul.search-breadcrumbs { width: 25%; padding: 0; margin: 0;  font-size: 80%; }
.subhit ul.search-breadcrumbs li { display: inline; list-style-type: none; color: gray; }
.subhit ul.search-breadcrumbs li a { color: gray; }
.subhit ul.search-breadcrumbs li ~ li:before { padding-right: 0.5ex; content: "›" }
.hit ul.search-breadcrumbs { display: none; }
.print-center-column { width: 80%; }
ul.sort { list-style-type: none; }
.idno mark { padding: 0; }

.results p { margin: 0.25em 0; }
.hit h2, .hit h3 { margin-bottom: 0.5ex; }
.hit dl { margin: 0; }

.sidenote-number {counter-increment: sidenote-counter; width: 0; visibility: hidden;}

.sidenote-number:after, .sidenote:before {
  position: relative;
  vertical-align: baseline;
}
.sidenote-number:after {
  content: counter(sidenote-counter);  
  font-size: 10px;
  top: -0.5rem;
  left: 0.05rem;
  visibility: visible;
}
.sidenote:before {
  opacity: 1;
  content: counter(sidenote-counter) " "; /* en space */
  font-size: 10px;    
  top: -3px;
}

.sidenote {    
  float: right;
  clear: right;
  text-align: left;  
  hyphens: auto;
  margin-right: -20%;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 16.66667%;
  font-size: 12px;
  line-height: 14px;  
}

a.disabled, .disabled a {
  opacity: 0.4;
  cursor: not-allowed;
}
