@font-face {
  font-family: Symbola;
  src: url(../fonts/Symbola.ttf) format("truetype");
}

html, body {
  min-height: 100%;
}

html {
  padding:4em 0 2em;
}


/* ********************** */
/* Layout
/* ********************** */

/* style for header area */
header {
  position: fixed;
  z-index:2;
  top:0;
  padding: 0.5em 1em;
  width: 100%;
  height:3.4em;
  background:white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  display:table;
}

header > * {
  display:table-cell;
  vertical-align:middle;
}

header > *:empty {
  display: none;
}

header > * ~ * {
  padding-left:1em;
}

header a[href] {
  border:none;
}

header .logo a {
  display:block;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

header .logo img {
  display:block;
  width:270px;
  height:22px;
}

/* beta */
header .logo sup {
  position: absolute;
  top: 8px;
  left: 2px;
  font-size: 60%;
}

header .breadcrumbs {
  line-height: 1em;
}

header .breadcrumbs span:empty {
  display: none;
}

header .breadcrumbs span {
  padding-left:0.5em;
  padding-right:0.5em;
}

header .breadcrumbs a {
  text-decoration:none;
  margin:0 5px;
}

header .breadcrumbs a:first-child {
  font-weight:bold;
}

header #current {
  padding-left:0.5em;
  font-size: 1.66em;
  font-weight: normal; /* 500; */
  border-left: 1px solid #CCC;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* style for main area */
main {
  position: absolute;
  top: 3.4em;
  bottom: 1.9em;
  left: 0;
  right: 0;
  overflow: auto;
}

main.nofooter {
  bottom:0;
}

section {
    padding:0 1em;
}

section > *:first-child {
  margin:1em 0;
}

.center {
    max-width: 995px;
    margin: 0px auto;
    padding:0 1em;
}

/* style for footer area */
footer {
  position: fixed;
  left: 0em;
  bottom: 0em;
  padding: 0.25em 1.33em;
  width: 100%;
  font-size:0.75em;
  border-top: 1px solid #aaa;
  background-color: #F5F5F5;
}

footer a[href] {
  margin:0 .5em;
  text-decoration: none;
  border:none;
}

footer img[align="middle"] {
  margin-top:-0.75em;
}

/* ********************** */
/* Elements
/* ********************** */

/* tooltips */
.tooltip {
  position: fixed;
  z-index:100;
  pointer-events: none;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  padding: 0em 0.25em;
}

.transcript-tooltip-span {
  padding-right: 0.5em;
}

.transcript-tooltip-span:last-child {
  padding-right: 0em;
}

.transcript-tooltip-hand {
  font-weight: bold;
}

.transcript-tooltip-material {
  font-style: italic;
}

.transcript-tooltip-text-decoration {}
.transcript-tooltip-property {}
.transcript-tooltip-script {}
.transcript-tooltip-inline-decoration {}


/* ********************** */
/* Prints
/* ********************** */
/* styling of prints and texts in synoptic view */
.line { margin: 0; } /* unused? */
p.head { margin: 1em 0; font-weight: bold; font-size: 123.1%; }
p.para-start { margin-top: 1em; } /* unused? */

.print {
  width: 995px;
  margin: 0 auto;
  color: #333;
  word-spacing: -0.43em;
  letter-spacing: -0.31em;
}

.print span.docTitle span {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.125em;
  margin: .83em 0;
}

.print span.docTitle span:first-of-type {
  font-size: 2em;
  margin: .67em 0;
}

.print-center-column, .print-side-column {
  font-size: 14px;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}

.print-center-column {
  width: 60%;
}

.print-side-column {
  width: 20%;
}


/* ********************** */
/* Print
/* ********************** */

@media print {
  html {
    padding:0;
  }

  header {
    position:relative;
    border-bottom:1px solid;
    box-shadow: none;
    height:auto;
  }

  .main-content-container {
    position: relative;
    border: none;
    left:auto;
    right:auto;
    top:auto;
    bottom:auto;
    overflow: visible;
  }

  .main-content {
    border:none;
    overflow: auto;
  }

  main [class*="pure-u"] {
    display:inline; /* FIXME: hotfix - default is 'inline-block'. This leads to cutt-offs on long texts in FF */
  }

  footer {
    position: relative;
    left:auto;
    bottom:auto;
  }
}
