@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-R.ttf) format("truetype");
}

@font-face {
  font-family: Symbola;
  src: url(../fonts/Symbola.ttf) format("truetype");
}

/* default css settings */
html, body {
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* style for header area */
header {
  position: fixed;
  padding: 0.5em 1em;
  width: 100%;
  height:3.4em;
  background:white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

header .logo a {
  display:block;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

header .logo img {
  display:block;
  width:270px;
  height:22px;
}

header .breadcrumbs {
  line-height: 1em;
}

/* style for main area */
main {
  position: absolute;
  top: 3.4em;
  bottom: 1.5em;
  left: 0em;
  right: 0em;
/* here for historical reasons. ff&chrome were fine, but ie
 * (surprise) not. so changed to position: absolute with
 * top 3em, bottom 1.5em, left, right 0em
  height: 100%;
  width: 100%;
  padding: 3em 0em 1.5em 0em;
*/
  overflow: hidden;
}

.main-content-container {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  overflow: auto;
}

.main-content-container * {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.main-content {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0.5em;
}

/* style for navigational area */

.faustedition-logo {
  height: 100%;
}

.faustedition-logo-svg {
  height: 100%;
}

/* style for footer area */
footer {
  position: fixed;
  left: 0em;
  bottom: 0em;
  width: 100%;
  height: 1.5em;
  border-top: 1px solid #aaa;
  background-color: #F5F5F5;
  text-align: center;
  overflow: hidden;
  cursor: default;
}

.footer-content {
  display: inline-block;
  vertical-align: middle;
  color: #777;
  font-size: 0.75em;
  white-space: nowrap;
  position: relative;
}

.footer-navigation {
  position: absolute;
  top: 0px;
  right: 1em;
}

/* styling for navigation bar */
.navigation-bar-container {
  position: fixed;
  left: 0px;
  bottom: 1.5em;
  border-top: 1px solid black;
  width: 100%;
  height: 2.25em;
  overflow: hidden;
  background-color: #F5F5F5;
}

/*
.navigation-bar-container * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
*/

.navigation-bar-content {
  display: inline-block;
  padding: 0.25em 0.5em;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.navigation-button {
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  height: 1.75em;
  padding: 0em 0.5em;
  background-color: #e5e5e5;
  cursor: pointer;
}

.button-active {
  background-color: #F9CB9C;
}

.navigation-button:hover {
  background-color: #F9CB9C;
}

/* tooltip styling */
.tooltip {
  position: fixed;
  pointer-events: none;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  padding: 0em 0.33em;
}

/* styling of prints and texts in synoptic view */
.line { margin: 0; }
p.head { margin: 1em 0; font-weight: bold; font-size: 123.1%; }
p.para-start { margin-top: 1em; }
.speaker { color: #805F40; }
.stage { font-style: italic; }

.print {
  width: 995px;
  margin: 0 auto;
  color: #333;
  word-spacing: -0.43em;
  letter-spacing: -0.31em;
}

.print-center-column, .print-side-column {
  font: 14px/1.5em "Ubuntu",Arial,Helvetica,sans-serif;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}

.print-center-column {
  width: 60%;
}

.print-side-column {
  width: 20%;
}

.fw {
  color: #ddd;
}

.centered {
  text-align: center;
}

.letter-spaced {
  letter-spacing: 1pt;
}

.print nav {
  white-space: normal;
  height: initial; 
}

.print nav.print-navigation a {  
  border: none;
  color: black;
}

.print .icons-ul {
  margin: 1em 1em 1em 2em;
  padding: 0px;
}

.print a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a.lineno {
  margin-left: -5em;
  width: 4.5em;
  float: left;
  position: relative;
  text-align: right;
  text-indent: 0pt;
  color: #777;
  font-weight: lighter;
  font-size: 80%;  
}

a.lineno.invisible {
  opacity:0;
}

div:hover > a.lineno, a.lineno:hover {
  opacity: 1 !important;  
}

a.sigil {
  float: right;
  color: #777;
}

.variants {
  border: 1px solid black;
  padding: 0em 0.25em;
}

.variants > * {
  clear: right;
}
div:hover > a.sigil {
  color: black;
}
.lg, .p, .head {
  margin-bottom: 0.75em;
}
div.text {
  margin-bottom: 1.5em;
}
.rend-indented {
  text-indent: 2em;
}

.l .emph {
	font-style: italic;
}
.stage .hi, .stage .emph {
	font-variant: small-caps;
	font-style: normal;
}

.alt {
  border-bottom: 1px dotted black;
  /*
   * alternative:
   * text-decoration underline dotted;
   * wird aber nur von firefox unterstrützt 
   */
}

a.pageno {
    float: right;
    font-weight: normal;
    font-size: smaller;
    color:  #805F40;
}

/* structure view */

#structureContainer {
  overflow: visible;
  display: table;
}

.structure-container > div {
  display: table-cell;
  height: 100%;
  vertical-align: top;
  overflow: auto;
}

.preview-div {
  width: 500px;
  padding: 5px;
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
}

.facsimile-preview {
  vertical-align: top;
  display: inline-block;
  height: 362px;
  width: 242px;
  border: 1px solid black;
}

.structure-div {
  width: 295px;
  text-align: center;
}

.structure-svg-div {
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.structure-button {
  transition: fill-opacity 0.3s ease;
  fill: gray; 
  fill-opacity: 0;
  stroke: none;
}

.structure-button:hover {
  fill-opacity: 0.7;
}

.structure-vertical-line {
  stroke-width: 1.5;
  shape-rendering: crispEdges;
  stroke: black;
}

.structure-line {
  pointer-events: none;
  stroke-width: 3;
  stroke: black;
}

.structure-sheet-connector {
  stroke-width: 3;
  stroke: black;
  stroke-linecap: round;
}

.structure-rect {
  transition: opacity 0.75s ease-in-out;
  shape-rendering: crispEdges;
  fill: gray;
  opacity: 0;
}

.structure-page-num {
  font-size: 0.75em;
}

.pages-group:hover > .structure-rect {
  transition: opacity 0.15s ease-in-out;
  opacity: 0.7;
}

.pages-locked > .structure-rect {
  fill: red;
  opacity: 1;
}

.metadata-div {
  overflow: auto;
}

.metadata-div div > div {
  padding-bottom: 0.3em;
}

.metadata-title {
  padding-right: 0.25em;
  font-style: italic;
  text-decoration: underline;
}

.metadata-container {
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0.5em 0.5em;
}


/* print layout */
@media print {
  header {
    position:relative;
    border-bottom:1px solid;
    box-shadow: none;
  }
  
  main {
    position: relative;
    left:auto;
    top:auto;
    overflow: visible;
  }

  .main-content-container {
    overflow: visible;
  }

  .main-content {
    border: none;
    overflow: visible;
  }

  footer {
    position: relative;
    left:auto;
    bottom:auto;
  }
}