*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@media screen {
    html, body {
        height: 100%;
        margin: 0px 0px 0px 0px;
        padding: 5px;
        /* background-color: lightgray; */
    }

    .rendercontainer {
        overflow: auto;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .onlypdf {
        display: none;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .rendercontainer {
        break-after: page;
        text-align: center;
    }

    .printheader {
        font-family: "Ubuntu derivative Faust";
        font-size: 9pt;
        margin-bottom: 0.5cm;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .printheader img.logo {
        height: 0.8em;
        vertical-align: center;
    }

    .bgBox {
        fill: none !important;
    }

    @page {
        margin: 1cm 2cm 2cm;
    }
}

.aboutpage article {
    margin-bottom: 1cm;
}

.aboutpage .title {
    text-align: center;
    horiz-align: center;
}

.aboutpage .title h1 { font-size: 36pt; }
.aboutpage .title h2 { font-size: 24pt; }
.aboutpage .title .author { margin-bottom: 24pt;}
.aboutpage .title h3 { font-size: 18pt; }
.aboutpage .title * { font-size: 16pt; line-height: 24pt; }

.aboutpage .legende td:first-child { text-align: right; border-right: 0.5pt solid gray; }
.aboutpage .legende td { padding-left: 0.5em; padding-right: 0.5em; }
.aboutpage .legende th { padding-top: 1ex; }

.aboutpage h1 { text-align: center;}

.aboutpage { width: 100%; }
.aboutpage *, .aboutpage *:first-child { width: 40rem; margin-left: auto; margin-right: auto;}

.aboutpage .generated {
    text-align: center;
    font-size: 6pt;
}

/*
#container {
  border: 1px solid black;
  background-color: white;
}
*/
