/* style for slider */
.slider {
  display:none;
  margin:0 -1em 0 !important;
  background: rgb(235,228,221); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgb(235,228,221) 0%, rgb(185,170,156) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(235,228,221) 0%,rgb(185,170,156) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgb(235,228,221) 0%,rgb(185,170,156) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe4dd', endColorstr='#b9aa9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.slick-initialized {
    display: block;
}

.slick-dots {
  bottom:30px;
}

.slider .slide-left, .slider .slide-right {
   background-position:center center;
   background-repeat:no-repeat, repeat;
   background-size:contain, auto;
}

.slider .slide-left {
    background-position:left center, center center;
}

.slider .slide-left .text {
    padding-left:40%;
}

.slider .slide-right {
    background-position:right center, center center;
}

.slider .slide-right .text {
    padding-right:40%;
}

.slider .center img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.slider .center img:hover {
  -webkit-filter: none;
  filter: none;
}

.slider .center {
  max-width:75%;
  overflow:hidden;
  display:table;
}

.slider .center > * {
  display:table-cell;
  vertical-align: middle;
}

.slider .text * {
  text-align:left !important;
}

.slider .text *:first-child {
  margin-top:0;
}

.slider .text *:last-child {
  margin-bottom:0;
}

.slider .text .pure-button ~ .pure-button {
  margin-left:1em;
}
