*~
.*.swp
tags
app/
print/
./transcript/
xml/
meta/
debug*.html
js-gen/
json/
archive_prints.html
archive_testimonies.html
testimony/
watermark-table.html
data/scene_line_mapping.js
bibliography.html
.idea
