Options +Multiviews

Redirect 301 /project/about /intro

ErrorDocument 400 /error.php?status=400
ErrorDocument 401 /error.php?status=401
ErrorDocument 403 /error.php?status=403
ErrorDocument 404 /error.php?status=404
ErrorDocument 500 /error.php?status=500

Redirect 301 /chessboard_overview.php /genesis
Redirect 301 /chessboard_faust_i.php /genesis_faust_i
Redirect 301 /chessboard_faust_ii.php /genesis_faust_ii
Redirect 301 /geneticBarGraph.php /genesis_bargraph

Redirect 301 /archives.php /archive
Redirect 301 /archives_locations.php /archive_locations
Redirect 301 /archives_locations_detail.php /archive_locations_detail
Redirect 301 /archives_print.php /archive_prints
Redirect 301 /archives_manuscripts.php /archive_manuscripts
Redirect 301 /documentViewer /document
Redirect 301 /documentViewer.php /document



# Moved intro content to content folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^beta-release _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^beta-release1 _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^beta-release2 _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^contact _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^credits _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^credits_advice _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^credits_archives _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^credits_coop _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^credits_finance _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^imprint _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^intro _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^metadata _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^multispectral_imaging _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^project _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^transcription_guidelines _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^watermarks _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^x-ray_spectrometry _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^1-0-release _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^archive_schillemeit _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^intro_macrogenesis _content.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^intro_text _content.php [QSA,L]
