.fw { color: #ddd; }
.centered { text-align: center; }
.letter-spaced { letter-spacing: 1pt; }

nav a {  
  color: #777;
}
nav a:hover {
  color: #FFC20E; 
}
.breadcrumbs .current a {
  color: black;
}

a.lineno {
  margin-left: -5em;
  width: 4.5em;
  float: left;
  position: relative;
  text-align: right;
  text-indent: 0pt;
  color: #777;
  font-weight: lighter;
  font-size: 80%;  
}

a.lineno.invisible {
  opacity:0;
}

div:hover > a.lineno, a.lineno:hover {
  opacity:100 !important;  
}

a.sigil {
  float: right;
  color: #777;
}
div:hover > a.sigil {
  color: black;
}
.lg {
  margin-bottom: 0.5em;
}
.rend-indented {
  text-indent: 2em;
}

