/* Die richtige Schrift auch auf der Testinstanz ... */
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);



/*
 * Überschriften
 */

h5.head, .type-subscene > .head {
	padding-bottom: 0.5ex;
	padding-top: 1ex;
	color: red;
}


h4.head, .type-scene > .head, .body > .head {
	padding-bottom: 1ex;
	padding-top: 2ex;
	font-weight: bold;
}

/* Zueignung, Vorspiel, ... */
h3.head, .body > .div > .head {
	padding-bottom: 2ex;
	padding-top: 4ex;
	font-weight: bold;
	font-size: 16px;
}


.titlePart {
	display: block;
	font-weight: bold;
	padding: 0.5ex 0ex;
}


/* Seitenzahlen */
.pb {
	clear: right;
}

.pageno {
    float: right;
    font-weight: lighter;
    font-size: smaller;
    color:  #805F40;
}

.speaker {    
	padding-top: 1.5ex;
	/* 
	Alternative 1: 
	font-weight: 500;
	color: #666 !important;
	
	Alternative 2: 
	*/
	color: inherit !important;
	text-transform: uppercase;
	font-size: 90%;
}

br.swelledRule, br.line {
	display: none;
}


ul.toc {
	list-style: none;
}
.toc a {
	color: #444;
	font-weight: 500;
}
.toc a:hover {
	color: black;
}

.hi.rend-big {
	font-variant: inherit;	/* statt small-caps */
	font-style: inherit;	/* statt italic */
}

.l.rend-indented {
	text-indent: inherit;
}
a.sigil {
	float: none !important;	/* rm from basic_layout.css */
}
.sigils {
	float: right;
	/* do we need a max-width here? */
}

.lg, .p, .head {
    margin-bottom: 0 !important;
}
.lg > *:last-child {
    padding-bottom: 1ex;
}